* {
    box-sizing: border-box;
    /*border: 1px solid black;*/
}
img {
    width: 100%;
}
html, body {
    height: 100%;
}

body {
    display: flex;
}
.grid {
    max-width: 960px;
    /*display: flex;*/
    margin: 0 auto;
    flex: 1;
    flex-direction: column;
}
.row {
}
.col {
    display: flex;
    flex: 1;
}
.hidden {
    visibility: hidden;
}
#heading {
    display: flex;
    background-color: grey;
    height: 60px;
    width: 100%;
    padding: 20px;
}
#brand {
    font-size: 25px;
}
#mainparagraphrow {
    flex: 4;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

#titletext {
}

#imagebox {
    display: flex;
    flex-flow:row nowrap;
    max-height: 500px;
}

#leftcolumn {
    display: flex;
    flex: 5;
    flex-direction: column;
}
#leftupper {
    display: flex;
    flex: 5;
    margin-bottom: 5px;
    margin-right: 5px;
}
#leftlower {
    display: flex;
    flex: 3;
    margin-top: 5px;
    margin-right: 5px;

}
#leftlowerleft {
    flex: 2;
    margin-right: 5px;
}
#leftlowerright {
    flex: 3;
    margin-left: 5px;
}
#rightcolumn {
    display: flex;
    flex: 3;
    flex-direction: column;
    margin-left: 5px;
}
#rightupper {
    display:flex;
    flex: 1;
    margin-bottom: 5px;
}
#rightlower {
    display: flex;
    flex: 2;
    margin-top: 5px;
}
