* {
    box-sizing: border-box;
    /*border: 1px solid black;*/
}
img {
    width: 100%;
    max-width: 100%;

}
/*html, body {
    height: 100%;
}*/

body {
    /*display: flex;*/
    /*justify-content: center;
    align-items: center;*/
    text-align: center;
    margin: 0;
    padding: 0;
}
.grid {
    max-width: 960px;
    /*display: flex;*/
    margin: 0 auto;
    /*flex: 1;*/
    flex-direction: column;
    /*align-content: flex-start;*/
}
.row {
    display: flex;
}
.col {
    display: flex;
    flex: 1;
}

.headercol {
    display: flex;
    flex: 1;
    padding-left: 1px;
}
.hidden {
    visibility: hidden;
}
.rightjustify {
    /*align-items: right;*/
    text-align: right;
}
.flex-direction-column {
    flex-direction: column;
}
.one-quarter-flex {
    flex: 1;
}
.three-quarter-flex {
    flex: 3;
    /*padding: 5px;*/
}
.text-columns {
    columns: 3;
}

#sillyredbar {
    background-color: red;
    width: 100%;
    height: 3px;
}
#logo {
    width: 100px;
    padding-right: 20px;
}
#searchicon {
    width: 20px;
    height: auto;
    margin-left: 25px;
}
#heading {
    display: flex;
    background-color: rgba(223, 222, 222, 1);
    height: 60px;
    width: 100%;
    padding: 20px;
}
#brand {
    font-size: 25px;
}
#mainparagraphrow {
    /*flex: 4;*/
    justify-content: center;
    align-items: center;
    padding: 5%;
    flex-direction: column;
}

#titletext {
    text-align: center;
}

#titlecontent {
    text-align: center;
    width: 300px;
}

#imagebox {
    display: flex;
    flex: 1;
    flex-flow:row nowrap;
    max-height: 500px;
}

#leftcolumn {
    display: flex;
    flex: 5;
    flex-direction: column;
}
#leftupper {
    display: flex;
    flex: 5;
    margin-bottom: 5px;
    margin-right: 5px;
}
#leftupper>img {
    /*width: 60vw;*/
    /*height: auto;*/
}
#leftlower {
    display: flex;
    flex: 3;
    margin-top: 5px;
    margin-right: 5px;

}
#leftlowerleft {
    flex: 2;
    margin-right: 5px;
}
#leftlowerright {
    flex: 3;
    margin-left: 5px;
}
#rightcolumn {
    display: flex;
    flex: 3;
    flex-direction: column;
    margin-left: 5px;
}
#rightupper {
    display:flex;
    flex: 1;
    margin-bottom: 5px;
}
#rightlower {
    display: flex;
    flex: 2;
    margin-top: 5px;
}
